[submodule "third_party/cef-cmake"]
	path = third_party/cef-cmake
	url = https://github.com/iboB/cef-cmake.git
[submodule "third_party\\jsbind"]
	path = third_party\\jsbind
	url = https://github.com/Chobolabs/jsbind.git
